# Projeto 2 - C Dados

_Português - Este Projeto está atualmente sendo mantido por Enricco Gemha, Paola BBS Friedel, Rafael C Leventhal, Marcelo R Barranco._

_English - This Project is currently being held by Enricco Gemha, Paola BBS Friedel, Rafael C Leventhal, Marcelo R Barranco._

## Aviso
Para nos referirmos a certos termos recorrentes, usaremos abreviações, todas listadas abaixo:
- df: DataFrame
- pd: biblioteca do Python chamada Pandas

## Kickstart do Projeto

In [1]:
# importando bibliotecas que serão utilizadas e definindo ajustes
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
# transformando a database em um df do pd
students = pd.read_csv('students.csv')

In [3]:
# checando o df
students

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## Limpando o df

**1º passo**: Retirar as features (colunas) cujas informações não serão utilizadas nesse projeto.

In [5]:
students.drop(columns=['reason', 'freetime', 'G2', 'G1', 'higher', 'nursery', 'Walc', 'guardian', 'school'], inplace=True)
students

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,traveltime,...,paid,activities,internet,romantic,famrel,goout,Dalc,health,absences,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,2,...,no,no,no,no,4,4,1,3,6,6
1,F,17,U,GT3,T,1,1,at_home,other,1,...,no,no,yes,no,5,3,1,3,4,6
2,F,15,U,LE3,T,1,1,at_home,other,1,...,yes,no,yes,no,4,2,2,3,10,10
3,F,15,U,GT3,T,4,2,health,services,1,...,yes,yes,yes,yes,3,2,1,5,2,15
4,F,16,U,GT3,T,3,3,other,other,1,...,yes,no,no,no,4,2,1,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,U,LE3,A,2,2,services,services,1,...,yes,no,no,no,5,4,4,4,11,9
391,M,17,U,LE3,T,3,1,services,services,2,...,no,no,yes,no,2,5,3,2,3,16
392,M,21,R,GT3,T,1,1,other,other,1,...,no,no,no,no,5,3,3,3,3,7
393,M,18,R,LE3,T,3,2,services,other,3,...,no,no,yes,no,4,1,3,5,0,10
394,M,19,U,LE3,T,1,1,other,at_home,1,...,no,no,yes,no,3,3,3,5,5,9

**2º passo**: Unir as features (colunas) cujos temas convergem, para aumentar a qualidade de análise de cada feature.

Lista de features que serão unidas:

</hr>

- family_environment ()
    - famsize - tamanho da família do estudante (binário: 'LE3' - menor ou igual a 3 ou 'GT3' - maior que 3)
    - Pstatus - pais divorciados ou não (binário: 'T' - vivendo juntos ou 'A' - separados)
    - famsup - suporte educacional da família (binário: 'yes' ou 'no')
    - famrel - qualidade do relacionamento familiar (numérico: de 1 - muito ruim a 5 - excelente)

</hr>

- heritage ()
    - Medu - escolaridade da mãe (numérico: 0 - nenhum, 1 - educação básica (4º ano), 2 - 5º ao 9º ano, 3 - ensino médio ou 4 - curso superior)
    - Fedu - escolaridade da mãe (numérico: 0 - nenhum, 1 - educação básica (4º ano), 2 - 5º ao 9º ano, 3 - ensino médio ou 4 - curso superior)
    - Mjob - trabalho da mãe (nominal: 'teacher', 'health' relacionado, civil 'services', 'at_home' ou 'other')
    - Fjob - trabalho da mãe (nominal: 'teacher', 'health' relacionado, civil 'services', 'at_home' ou 'other')

</hr>

- dedication (numérico: 1 - muito dedicado, 2 - dedicado, 3 - não dedicado)
    - absences - número de faltas na escola (numérico: de 0 a 93)
    - Dalc - consumo de álcool em dias de aula (numérico: de 1 - muito baixo a 5 - muito alto)
    - studytime - tempo semanal de estudo (numérico: 1 - <2 hour, 2 - 2 a 5 hour, 3 - 5 a 10 hour, ou 4 - >10 hour)

</hr>

- other_study_means (binário: 'yes' ou 'no')
    - internet - acesso à internet (binário: 'yes' ou 'no')
    - schoolsup - aulas de reforço gratuito (binário: 'yes' ou 'no')
    - paid - aulas de reforço pago (binário: 'yes' ou 'no')

</hr>

- extra_activities (binário: 'yes' ou 'no')
    - goout - sair com os amigos (numérico: de 1 - muito baixo a 5 - muito alto)
    - romantic - ter um relacionamento romântico (binário: 'yes' ou 'no')
    - traveltime - tempo de viagem até a escola (numérico: 1 - <15 min., 2 - 15 a 30 min., 3 - 30 min. a 1 hour, ou 4 - >1 hour)
    - activities - atividade extracurricular (binário: 'yes' ou 'no')

## Referências Bibliográficas

- to-do