# Projeto 2 - C Dados

_Português - Este Projeto está atualmente sendo mantido por Enricco Gemha, Paola BBS Friedel, Rafael C Leventhal, Marcelo R Barranco._

_English - This Project is currently being held by Enricco Gemha, Paola BBS Friedel, Rafael C Leventhal, Marcelo R Barranco._

## Aviso
Para nos referirmos a certos termos recorrentes, usaremos abreviações, todas listadas abaixo:
- df: DataFrame
- pd: biblioteca do Python chamada Pandas

## Kickstart do Projeto

In [1]:
# importando bibliotecas que serão utilizadas e definindo ajustes
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
# transformando a database em um df do pd
students = pd.read_csv('students.csv')

In [3]:
# checando o df
students

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## Limpando o df

**Próximo passo**: Retirar as features (colunas) cujas informações não serão utilizadas nesse projeto.

In [4]:
students.drop(columns=['G2', 'G1', 'guardian', 'school'], inplace=True)
students

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,10
3,F,15,U,GT3,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,15
4,F,16,U,GT3,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,U,LE3,A,2,2,services,services,course,...,no,no,5,5,4,4,5,4,11,9
391,M,17,U,LE3,T,3,1,services,services,course,...,yes,no,2,4,5,3,4,2,3,16
392,M,21,R,GT3,T,1,1,other,other,course,...,no,no,5,5,3,3,3,3,3,7
393,M,18,R,LE3,T,3,2,services,other,course,...,yes,no,4,4,1,3,4,5,0,10
394,M,19,U,LE3,T,1,1,other,at_home,course,...,yes,no,3,2,3,3,3,5,5,9

A próxima etapa é transformar as variáveis qualitativas em quantitativas.

In [5]:
dic_qlt = {'sex': {'F': 1, 'M': 2}, 'address': {'U': 1, 'R': 2}, 'famsize': {'LE3': 1, 'GT3': 2}, 'Pstatus': {'T': 1, 'A': 2}, 'Mjob': {'teacher': 1, 'health': 2, 'services': 3, 'at_home': 4, 'other': 5}, 'Fjob': {'teacher': 1, 'health': 2, 'services': 3, 'at_home': 4, 'other': 5}, 'reason': {'home': 1, 'reputation': 2, 'course': 3, 'other': 4}, 'schoolsup': {'yes': 1, 'no': 2}, 'famsup': {'yes': 1, 'no': 2}, 'paid': {'yes': 1, 'no': 2}, 'activities': {'yes': 1, 'no': 2}, 'nursery': {'yes': 1, 'no': 2}, 'higher': {'yes': 1, 'no': 2}, 'internet': {'yes': 1, 'no': 2}, 'romantic': {'yes': 1, 'no': 2}}
lista_qlt = list(dic_qlt.keys())
for coluna in lista_qlt:
    lista_final = []
    for var in students[coluna]:
        dic_qlt_coluna = dic_qlt[coluna]
        lista_final.append(dic_qlt_coluna[var])
    # print(len(lista_final))
    # print(len(list(students[coluna])))
    (students[coluna]).replace(list(students[coluna]), lista_final, inplace=True)
students

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,1,18,1,2,2,4,4,4,1,3,...,2,2,4,3,4,1,1,3,6,6
1,1,17,1,2,1,1,1,4,5,3,...,1,2,5,3,3,1,1,3,4,6
2,1,15,1,1,1,1,1,4,5,4,...,1,2,4,3,2,2,3,3,10,10
3,1,15,1,2,1,4,2,2,3,1,...,1,1,3,2,2,1,1,5,2,15
4,1,16,1,2,1,3,3,5,5,1,...,2,2,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2,20,1,1,2,2,2,3,3,3,...,2,2,5,5,4,4,5,4,11,9
391,2,17,1,1,1,3,1,3,3,3,...,1,2,2,4,5,3,4,2,3,16
392,2,21,2,2,1,1,1,5,5,3,...,2,2,5,5,3,3,3,3,3,7
393,2,18,2,1,1,3,2,3,5,3,...,1,2,4,4,1,3,4,5,0,10
394,2,19,1,1,1,1,1,5,4,3,...,1,2,3,2,3,3,3,5,5,9

## Análise Exploratória

**Próximo passo**: Com o objetivo de encontrar features que possuem forte correlação, ou seja, cujos temas convergem, devemos utilizar o comando `.corr()` para obter as correlações entre as features do df. Vale lembrar que uma correlação é forte se: `|corr| >= 0.7`

In [6]:
# separando o target e as features em 2 variáveis diferentes
target = students.G3
features = students.drop(columns='G3')

In [7]:
features_corr = features.corr()

for coluna in list(features_corr):
    for correlation in features_corr[coluna]:
        if correlation >= 0.7 and correlation != 1.0:
            print(correlation)
            print('\n')


# plt.figure(figsize=(500,400))
# sns.heatmap(corr_features, annot=True)
# plt.tight_layout();

Após a análise do df `features_corr` pode-se concluir que todas as features que foram comparadas entre si tem correlação fraca ou moderada, o que impossibilita que sejam unidas por semelhança. Portanto, conclui-se que cada feature é única na influência que possui na variável `target`.

## Relacionando target com features

**Próximo passo**: agora que testamos a correlação entre as features, partiremos para correlacionar a variável `target` com cada feature individualmente.

In [10]:
target_corr = features.corrwith(target, method='pearson')
target_corr.sort_values(ascending=True, inplace=True)
target_corr

failures     -0.360415
higher       -0.182465
age          -0.161579
Mjob         -0.145827
goout        -0.132791
traveltime   -0.117142
address      -0.105756
paid         -0.101996
internet     -0.098483
Fjob         -0.091128
famsize      -0.081407
health       -0.061335
Dalc         -0.054660
Walc         -0.051939
nursery      -0.051568
activities   -0.016100
reason       -0.008502
freetime      0.011307
absences      0.034247
famsup        0.039157
famrel        0.051363
Pstatus       0.058009
schoolsup     0.082788
studytime     0.097820
sex           0.103456
romantic      0.129970
Fedu          0.152457
Medu          0.217147
dtype: float64

## Referências Bibliográficas

- to-do