# Projeto 2 - C Dados

_Português - Este Projeto está atualmente sendo mantido por Enricco Gemha, Paola BBS Friedel, Rafael C Leventhal, Marcelo R Barranco._

_English - This Project is currently being held by Enricco Gemha, Paola BBS Friedel, Rafael C Leventhal, Marcelo R Barranco._

## Aviso
Para nos referirmos a certos termos recorrentes, usaremos abreviações, todas listadas abaixo:
- df: DataFrame
- pd: biblioteca do Python chamada Pandas

## Kickstart do Projeto

In [1]:
# importando bibliotecas que serão utilizadas e definindo ajustes
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
# transformando a database em um df do pd
students = pd.read_csv('students.csv')

In [3]:
# checando o df
students

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## Limpando o df

**1º passo**: Retirar as features (colunas) cujas informações não serão utilizadas nesse projeto.

In [4]:
students.drop(columns=['reason', 'freetime', 'G2', 'G1', 'higher', 'nursery', 'Walc', 'guardian', 'school', 'famsize'], inplace=True)
students

,sex,age,address,Pstatus,Medu,Fedu,Mjob,Fjob,traveltime,studytime,...,paid,activities,internet,romantic,famrel,goout,Dalc,health,absences,G3
0,F,18,U,A,4,4,at_home,teacher,2,2,...,no,no,no,no,4,4,1,3,6,6
1,F,17,U,T,1,1,at_home,other,1,2,...,no,no,yes,no,5,3,1,3,4,6
2,F,15,U,T,1,1,at_home,other,1,2,...,yes,no,yes,no,4,2,2,3,10,10
3,F,15,U,T,4,2,health,services,1,3,...,yes,yes,yes,yes,3,2,1,5,2,15
4,F,16,U,T,3,3,other,other,1,2,...,yes,no,no,no,4,2,1,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,U,A,2,2,services,services,1,2,...,yes,no,no,no,5,4,4,4,11,9
391,M,17,U,T,3,1,services,services,2,1,...,no,no,yes,no,2,5,3,2,3,16
392,M,21,R,T,1,1,other,other,1,1,...,no,no,no,no,5,3,3,3,3,7
393,M,18,R,T,3,2,services,other,3,1,...,no,no,yes,no,4,1,3,5,0,10
394,M,19,U,T,1,1,other,at_home,1,1,...,no,no,yes,no,3,3,3,5,5,9

**2º passo**: Com o objetivo de encontrar features que possuem forte correlação, ou seja, cujos temas convergem, devemos utilizar o comando `.corr()` para obter as correlações entre as features do df. Vale lembrar que uma correlação é forte se: `|corr| > 0.8`

In [5]:
# separando o target e as features em 2 variáveis diferentes
target = students.G3
features = students.drop(columns='G3')

In [6]:
corr_features_qnt = features.corr()
corr_features_qnt

,age,Medu,Fedu,traveltime,studytime,failures,famrel,goout,Dalc,health,absences
age,1.000000,-0.163658,-0.163438,0.070641,-0.004140,0.243665,0.053940,0.126964,0.131125,-0.062187,0.175230
Medu,-0.163658,1.000000,0.623455,-0.171639,0.064944,-0.236680,-0.003914,0.064094,0.019834,-0.046878,0.100285
Fedu,-0.163438,0.623455,1.000000,-0.158194,-0.009175,-0.250408,-0.001370,0.043105,0.002386,0.014742,0.024473
traveltime,0.070641,-0.171639,-0.158194,1.000000,-0.100909,0.092239,-0.016808,0.028540,0.138325,0.007501,-0.012944
studytime,-0.004140,0.064944,-0.009175,-0.100909,1.000000,-0.173563,0.039731,-0.063904,-0.196019,-0.075616,-0.062700
failures,0.243665,-0.236680,-0.250408,0.092239,-0.173563,1.000000,-0.044337,0.124561,0.136047,0.065827,0.063726
famrel,0.053940,-0.003914,-0.001370,-0.016808,0.039731,-0.044337,1.000000,0.064568,-0.077594,0.094056,-0.044354
goout,0.126964,0.064094,0.043105,0.028540,-0.063904,0.124561,0.064568,1.000000,0.266994,-0.009577,0.044302
Dalc,0.131125,0.019834,0.002386,0.138325,-0.196019,0.136047,-0.077594,0.266994,1.000000,0.077180,0.111908
health,-0.062187,-0.046878,0.014742,0.007501,-0.075616,0.065827,0.094056,-0.009577,0.077180,1.000000,-0.029937
absences,0.175230,0.100285,0.024473,-0.012944,-0.062700,0.063726,-0.044354,0.044302,0.111908,-0.029937,1.000000

Após a análise do df `corr_features_qnt` pode-se concluir que todas as features quantitativas que foram comparadas tem correlação fraca ou moderada, o que impossibilita que sejam unidas por semelhança.

## Análise Exploratória

## Referências Bibliográficas

- to-do