# Projeto 2 - C Dados

_Português - Este Projeto está atualmente sendo mantido por Enricco Gemha, Paola BBS Friedel, Rafael C Leventhal, Marcelo R Barranco._

_English - This Project is currently being held by Enricco Gemha, Paola BBS Friedel, Rafael C Leventhal, Marcelo R Barranco._

## Aviso
Para nos referirmos a certos termos recorrentes, usaremos abreviações, todas listadas abaixo:
- df: DataFrame
- pd: biblioteca do Python chamada Pandas

## Kickstart do Projeto

In [1]:
# importando bibliotecas que serão utilizadas e definindo ajustes
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
# transformando a database em um df do pd
students = pd.read_csv('students.csv')

In [3]:
# checando o df
students

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## Limpando o df

**1º passo**: Retirar as features (colunas) cujas informações não serão utilizadas nesse projeto.

In [4]:
students.drop(columns=['G2', 'G1', 'guardian', 'school'], inplace=True)
students

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,10
3,F,15,U,GT3,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,15
4,F,16,U,GT3,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,U,LE3,A,2,2,services,services,course,...,no,no,5,5,4,4,5,4,11,9
391,M,17,U,LE3,T,3,1,services,services,course,...,yes,no,2,4,5,3,4,2,3,16
392,M,21,R,GT3,T,1,1,other,other,course,...,no,no,5,5,3,3,3,3,3,7
393,M,18,R,LE3,T,3,2,services,other,course,...,yes,no,4,4,1,3,4,5,0,10
394,M,19,U,LE3,T,1,1,other,at_home,course,...,yes,no,3,2,3,3,3,5,5,9

A próxima etapa é transformar as variáveis qualitativas em quantitativas.

In [5]:
dic_qlt = {'sex': {'F': 1, 'M': 2}, 'address': {'U': 1, 'R': 2}, 'famsize': {'LE3': 1, 'GT3': 2}, 'Pstatus': {'T': 1, 'A': 2}, 'Mjob': {'teacher': 1, 'health': 2, 'services': 3, 'at_home': 4, 'other': 5}, 'Fjob': {'teacher': 1, 'health': 2, 'services': 3, 'at_home': 4, 'other': 5}, 'reason': {'home': 1, 'reputation': 2, 'course': 3, 'other': 4}, 'schoolsup': {'yes': 1, 'no': 2}, 'famsup': {'yes': 1, 'no': 2}, 'paid': {'yes': 1, 'no': 2}, 'activities': {'yes': 1, 'no': 2}, 'nursery': {'yes': 1, 'no': 2}, 'higher': {'yes': 1, 'no': 2}, 'internet': {'yes': 1, 'no': 2}, 'romantic': {'yes': 1, 'no': 2}}
lista_qlt = list(dic_qlt.keys())
for coluna in lista_qlt:
    lista_final = []
    for var in students[coluna]:
        dic_qlt_coluna = dic_qlt[coluna]
        lista_final.append(dic_qlt_coluna[var])
    # print(len(lista_final))
    # print(len(list(students[coluna])))
    (students[coluna]).replace(list(students[coluna]), lista_final, inplace=True)
students

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,1,18,1,2,2,4,4,4,1,3,...,2,2,4,3,4,1,1,3,6,6
1,1,17,1,2,1,1,1,4,5,3,...,1,2,5,3,3,1,1,3,4,6
2,1,15,1,1,1,1,1,4,5,4,...,1,2,4,3,2,2,3,3,10,10
3,1,15,1,2,1,4,2,2,3,1,...,1,1,3,2,2,1,1,5,2,15
4,1,16,1,2,1,3,3,5,5,1,...,2,2,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2,20,1,1,2,2,2,3,3,3,...,2,2,5,5,4,4,5,4,11,9
391,2,17,1,1,1,3,1,3,3,3,...,1,2,2,4,5,3,4,2,3,16
392,2,21,2,2,1,1,1,5,5,3,...,2,2,5,5,3,3,3,3,3,7
393,2,18,2,1,1,3,2,3,5,3,...,1,2,4,4,1,3,4,5,0,10
394,2,19,1,1,1,1,1,5,4,3,...,1,2,3,2,3,3,3,5,5,9

In [6]:
# for coluna in lista_qlt:
# students[column_name].replace([old_value1, old_value2, old_value3],[new_value1, new_value2, new_value3])
list(students['sex'])

[1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2]

**2º passo**: Com o objetivo de encontrar features que possuem forte correlação, ou seja, cujos temas convergem, devemos utilizar o comando `.corr()` para obter as correlações entre as features do df. Vale lembrar que uma correlação é forte se: `|corr| >= 0.7`

In [7]:
# separando o target e as features em 2 variáveis diferentes
target = students.G3
features = students.drop(columns='G3')

In [8]:
corr_features_qnt = features.corr()
corr_features_qnt

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
sex,1.000000,-0.028606,0.028504,-0.089862,-0.023443,0.078228,0.034878,-0.115762,0.004110,0.009822,...,0.151056,-0.044113,0.102023,0.058971,0.238744,0.075897,0.268171,0.274194,0.143588,-0.066962
age,-0.028606,1.000000,0.146722,-0.037847,-0.029598,-0.163658,-0.163438,0.089558,0.065816,0.005780,...,0.209081,0.112094,-0.164669,0.053940,0.016434,0.126964,0.131125,0.117276,-0.062187,0.175230
address,0.028504,0.146722,1.000000,0.072472,-0.042572,-0.138804,-0.072178,0.096169,0.055468,0.119302,...,0.042854,0.216842,0.005257,-0.014258,-0.034878,-0.068835,0.093494,0.101126,0.040355,0.027874
famsize,-0.089862,-0.037847,0.072472,1.000000,-0.149612,0.043068,0.058879,0.087041,-0.047132,0.000981,...,-0.005806,0.000720,0.034395,0.022776,-0.017695,-0.023064,-0.101521,-0.103425,0.028992,-0.035783
Pstatus,-0.023443,-0.029598,-0.042572,-0.149612,1.000000,0.123565,0.088730,0.012711,-0.020772,-0.036182,...,-0.040735,0.070074,-0.040451,-0.025179,-0.038717,-0.003459,0.030590,-0.006045,-0.022307,0.134937
Medu,0.078228,-0.163658,-0.138804,0.043068,0.123565,1.000000,0.623455,-0.535002,-0.215381,-0.038195,...,-0.168845,-0.201463,-0.039681,-0.003914,0.030891,0.064094,0.019834,-0.047123,-0.046878,0.100285
Fedu,0.034878,-0.163438,-0.072178,0.058879,0.088730,0.623455,1.000000,-0.342174,-0.367789,-0.017664,...,-0.174566,-0.127507,-0.015602,-0.001370,-0.012846,0.043105,0.002386,-0.012631,0.014742,0.024473
Mjob,-0.115762,0.089558,0.096169,0.087041,0.012711,-0.535002,-0.342174,1.000000,0.309160,-0.059474,...,0.075854,0.172439,-0.053560,0.031130,-0.073211,-0.012494,-0.003754,-0.020245,-0.051220,0.023554
Fjob,0.004110,0.065816,0.055468,-0.047132,-0.020772,-0.215381,-0.367789,0.309160,1.000000,-0.085864,...,-0.019106,0.030656,0.046987,0.035101,0.053002,0.040243,-0.056839,0.066906,-0.024784,0.018386
reason,0.009822,0.005780,0.119302,0.000981,-0.036182,-0.038195,-0.017664,-0.059474,-0.085864,1.000000,...,0.137866,0.069943,-0.005050,0.005898,0.111859,0.017075,0.079703,0.060232,0.070076,-0.136277
traveltime,0.059722,0.070641,0.328096,-0.063493,-0.028265,-0.171639,-0.158194,0.108535,0.066387,0.088819,...,0.083508,0.111302,-0.021962,-0.016808,-0.017025,0.028540,0.138325,0.134116,0.007501,-0.012944
studytime,-0.306268,-0.004140,0.020912,0.073595,-0.024294,0.064944,-0.009175,0.011124,-0.021954,-0.083898,...,-0.175081,-0.059422,-0.053285,0.039731,-0.143198,-0.063904,-0.196019,-0.253785,-0.075616,-0.062700
failures,0.044436,0.243665,0.078578,0.015769,0.003339,-0.236680,-0.250408,0.103623,0.007068,-0.010909,...,0.300316,0.063451,-0.093137,-0.044337,0.091987,0.124561,0.136047,0.141962,0.065827,0.063726
schoolsup,0.138271,0.251811,0.024712,-0.028642,-0.042238,0.036029,-0.037530,-0.097495,0.074775,0.015198,...,0.054486,-0.009683,-0.080716,0.001345,0.045465,0.037698,0.021485,0.087152,0.034124,-0.022526
famsup,0.151623,0.140609,0.023903,-0.112893,0.019067,-0.183727,-0.185496,0.142783,0.054606,0.076230,...,0.100815,0.103581,0.012440,0.020436,-0.010538,0.015631,0.031575,0.086688,-0.029297,-0.024353
paid,0.129126,0.035933,0.052800,-0.013882,0.046435,-0.159700,-0.086981,0.173602,-0.022754,0.086743,...,0.189214,0.153132,0.005536,-0.000460,0.064253,-0.010493,-0.062465,-0.060454,0.078132,-0.007435
activities,-0.099833,0.103063,-0.051360,-0.000113,0.097352,-0.108277,-0.112643,0.129058,0.036620,0.020747,...,0.096484,0.048663,0.019651,-0.040687,-0.089728,-0.046088,0.066508,0.037477,-0.023923,0.013610
nursery,0.008203,0.086632,0.059589,0.102088,-0.090615,-0.193263,-0.157177,0.144967,0.075106,0.044492,...,0.054303,0.007830,0.027495,0.003581,0.024696,-0.004612,0.084849,0.099534,0.018475,-0.019155
higher,0.151056,0.209081,0.042854,-0.005806,-0.040735,-0.168845,-0.174566,0.075854,-0.019106,0.137866,...,1.000000,0.020374,-0.105664,-0.024319,0.061244,0.039700,0.069828,0.100340,0.015895,0.056085
internet,-0.044113,0.112094,0.216842,0.000720,0.070074,-0.201463,-0.127507,0.172439,0.030656,0.069943,...,0.020374,1.000000,0.087122,-0.032768,-0.051286,-0.074370,-0.036210,-0.011687,0.080189,-0.101701
romantic,0.102023,-0.164669,0.005257,0.034395,-0.040451,-0.039681,-0.015602,-0.053560,0.046987,-0.005050,...,-0.105664,0.087122,1.000000,0.063816,0.011182,-0.007870,-0.015121,0.010141,-0.026342,-0.153384
famrel,0.058971,0.053940,-0.014258,0.022776,-0.025179,-0.003914,-0.001370,0.031130,0.035101,0.005898,...,-0.024319,-0.032768,0.063816,1.000000,0.150701,0.064568,-0.077594,-0.113397,0.094056,-0.044354
freetime,0.238744,0.016434,-0.034878,-0.017695,-0.038717,0.030891,-0.012846,-0.073211,0.053002,0.111859,...,0.061244,-0.051286,0.011182,0.150701,1.000000,0.285019,0.209001,0.147822,0.075733,-0.058078
goout,0.075897,0.126964,-0.068835,-0.023064,-0.003459,0.064094,0.043105,-0.012494,0.040243,0.017075,...,0.039700,-0.074370,-0.007870,0.064568,0.285019,1.000000,0.266994,0.420386,-0.009577,0.044302
Dalc,0.268171,0.131125,0.093494,-0.101521,0.030590,0.019834,0.002386,-0.003754,-0.056839,0.079703,...,0.069828,-0.036210,-0.015121,-0.077594,0.209001,0.266994,1.000000,0.647544,0.077180,0.111908
Walc,0.274194,0.117276,0.101126,-0.103425,-0.006045,-0.047123,-0.012631,-0.020245,0.066906,0.060232,...,0.100340,-0.011687,0.010141,-0.113397,0.147822,0.420386,0.647544,1.000000,0.092476,0.136291
health,0.143588,-0.062187,0.040355,0.028992,-0.022307,-0.046878,0.014742,-0.051220,-0.024784,0.070076,...,0.015895,0.080189,-0.026342,0.094056,0.075733,-0.009577,0.077180,0.092476,1.000000,-0.029937
absences,-0.066962,0.175230,0.027874,-0.035783,0.134937,0.100285,0.024473,0.023554,0.018386,-0.136277,...,0.056085,-0.101701,-0.153384,-0.044354,-0.058078,0.044302,0.111908,0.136291,-0.029937,1.000000

Após a análise do df `corr_features_qnt` pode-se concluir que todas as features quantitativas que foram comparadas tem correlação fraca ou moderada, o que impossibilita que sejam unidas por semelhança.

Agora, o próximo passo é retirar as colunas qualitativas que não serão utilizadas neste projeto.

In [9]:
to_drop = corr_features_qnt.columns.values.tolist()
features_qlt = features.drop(columns=to_drop)
features_qlt_columns = features_qlt.columns.values.tolist()

# dropando as colunas qualitativas
features.drop(columns=features_qlt_columns, inplace=True)
features

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,1,18,1,2,2,4,4,4,1,3,...,1,2,2,4,3,4,1,1,3,6
1,1,17,1,2,1,1,1,4,5,3,...,1,1,2,5,3,3,1,1,3,4
2,1,15,1,1,1,1,1,4,5,4,...,1,1,2,4,3,2,2,3,3,10
3,1,15,1,2,1,4,2,2,3,1,...,1,1,1,3,2,2,1,1,5,2
4,1,16,1,2,1,3,3,5,5,1,...,1,2,2,4,3,2,1,2,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2,20,1,1,2,2,2,3,3,3,...,1,2,2,5,5,4,4,5,4,11
391,2,17,1,1,1,3,1,3,3,3,...,1,1,2,2,4,5,3,4,2,3
392,2,21,2,2,1,1,1,5,5,3,...,1,2,2,5,5,3,3,3,3,3
393,2,18,2,1,1,3,2,3,5,3,...,1,1,2,4,4,1,3,4,5,0
394,2,19,1,1,1,1,1,5,4,3,...,1,1,2,3,2,3,3,3,5,5

In [10]:
to_drop = corr_features_qnt.columns.values.tolist()
features_qlt = features.drop(columns=to_drop)
features_qlt.value_counts(normalize=True)

ValueError: No group keys passed!

In [ ]:

plt.subplot(1,2,1)
plt.scatter(dados_fem.Anos, dados_fem.Salario, c='pink', alpha=0.4)
plt.subplot(1,2,2)
plt.scatter(dados_masc.Anos, dados_masc.Salario, c='blue', alpha=0.4)
plt.show()

## Análise Exploratória

## Referências Bibliográficas

- to-do